<h2>Inscription</h2>
<form (submit)="register()">
  <input [(ngModel)]="username" name="username" placeholder="Username" required />
  <input [(ngModel)]="email" name="email" placeholder="Email" required />
  <input [(ngModel)]="password" name="password" placeholder="Password" type="password" required />
  <button type="submit">S'inscrire</button>
</form>

<h2>Connexion</h2>
<form (submit)="login()">
  <input [(ngModel)]="loginEmail" name="loginEmail" placeholder="Email" required />
  <input
    [(ngModel)]="loginPassword"
    name="loginPassword"
    placeholder="Password"
    type="password"
    required
  />
  <button type="submit">Se connecter</button>
</form>

<p *ngIf="message">{{ message }}</p>
