<div class="auth-container">
  <h2>Authentification</h2>

  <div>
    <label>Username:</label>
    <input [(ngModel)]="username" type="text" />
  </div>

  <div>
    <label>Email (pour l'inscription):</label>
    <input [(ngModel)]="email" type="email" />
  </div>

  <div>
    <label>Password:</label>
    <input [(ngModel)]="password" type="password" />
  </div>

  <div class="buttons">
    <button (click)="login()">Login</button>
    <button (click)="register()">Register</button>
  </div>

  <p *ngIf="message">{{ message }}</p>
</div>
